
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  h1{
      text-align: center;
     
    
  }
.black-white{
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    place-items: center;


}
.black-white .balck-text{
    position: relative;
    width: 60vw;
    margin: auto;
  

}
.black-white .balck-text h1{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 15vw;
    text-transform: uppercase;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);



}

.black-white .balck-text h1:nth-child(2){
    background: #f3f3f3;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}
.black-white .balck-text h1:nth-child(2):hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.black-white .balck-text h1:nth-child(1):hover ~ h1{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
